<!DOCTYPE html>
<html lang="en">
    <title></title>
    <head>
        <main>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button>Create</button>
                </div>
            </form>
        </main>
    </body>
</html>
<body>
</body>
</head>
</html>
