<!DOCTYPE html>
<html lang="en">
    <title></title>
    <head>
        <main>
            <form method="post">
                {% csrf_token %}
                <p>
                    are you sure you want to delete? {{ todolist }}
                </p>
                {{ form.as_p }}
                <div>
                    <button>Delete</button>
                </div>
            </form>
        </main>
    </body>
</html>
<body>
</body>
</head>
</html>
