<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To do List</title>
    </head>
    <body>
        <header>
            <h1>{{ todolist.name }}</h1>
            <nav>
                <a href="{% url 'todo_delete' todolist.id %}">Delete a list</a>
                <a href="{% url 'todo_edit' todolist.id %}">Edit a list</a>
            </nav>
        </header>
        <main>
            {% for y in todolist.items.all %}
                <a href ="{% url 'items_edit' y.id %}">{{ y.task }}</a>
            {% endfor %}
        </main>
    </main>
</body>
</html>
