<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To Do Lists</title>
    </head>
    <body>
        <header>
            <h1>Edit {{ todolist.name }}</h1>
        </header>
        <main>
            <div>
                <form method ="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div>
                    <button>Edit</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
