<!DOCTYPE html>
<html lang="en">
    <head>
        <title>To do List</title>
    </head>
    <body>
        <header>
            <h1>To do List</h1>
            <nav>
                <a href="{% url 'todo_create' %}">Create a list</a>
                <a href ="{% url 'items_create' %}">Create a Item</a>
            </nav>
        </header>
        <main>
            {% for x in object_list %}
                <a href ="{% url 'todo_detail' x.pk %}">{{ x.name }}</a>
            {% endfor %}
        </main>
    </body>
</html>
